.top-header h1{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
.boxer1{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
    transition: 5s ease;
  }
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}
  .boxer2{
    width: 100%;
    margin-top: 200px;
    display: flex;
    justify-content: space-evenly;
    transition: 5s ease-in-out;
  }
  .boxer3{
    width: 100%;
    margin-top: 200px;
    display: flex;
    justify-content: space-evenly;
  }
  .flip-card {
background-color: transparent;
width: 300px;
height: 200px;
border: 1px solid #f1f1f1;
perspective: 1000px; /* Remove this if you don't want the 3D effect */
animation: bounce 2s infinite;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
position: relative;
width: 100%;
height: 100%;
text-align: center;
transition: transform 0.8s;
transform-style: preserve-3d;
cursor: pointer;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
position: absolute;
width: 100%;
height: 100%;
-webkit-backface-visibility: hidden; /* Safari */
backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
background-color: #bbb;
color: black;
}

/* Style the back side */
.flip-card-back {
background-color: dodgerblue;
color: white;
transform: rotateY(180deg);
}
.flip-card-back a{
  text-decoration: none;
  color: #000;
}